        .graticule {
            fill: none;
            stroke: #777;
            stroke-width: 0.5px;
            stroke-opacity: 0.5;
        }

        .land {
            fill: grey;
        }

        .boundary {
            fill: none;
            stroke: #fff;
            stroke-width: .5px;
        }