@import "./styles/maps.scss";
@import "./styles/lineGraph.scss";
@import "./styles/usmap.scss";


h1{
    font-family: 'Courier New', Courier, monospace;
}


body {
    background-color: lightblue;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img > img {
    height: 27px;
    width: 27px;
    margin-right: 10px;
  
}


.nav-bar{
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
    background-color: aquamarine;
    float: right;
}


h1 {
    text-align: center;
}

h2{
        text-align: center;
}

.Box{
    display: block;
    justify-content: center;
}

#USmap {
    // border: 2px green solid;
    float: left;
}


#Bargraph {
    // border: 2px yellow solid;
    float: right;
}

#manufacturer-list {
    border: 2px solid blue;
}


