@import "./styles/maps.scss";
@import "./styles/lineGraph.scss";
@import "./styles/usmap.scss";


* {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: lightblue;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-img > img {
    height: 27px;
    width: 27px;
    margin-right: 10px;
  
}


.nav-bar{
    display: flex;
    flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
    background-color: aquamarine;
    float: right;
}

.web-links {
    padding-left: 200px;
}

.web-links-right {
    padding-right: 200px;
}


h1 {
    text-align: center;
}

h2{
        text-align: center;
}

#Box {
    // display: block;
    // justify-content: center;
    // border: 2px red solid;
}

#USmap {
    // border: 2px green solid;
    float: left!important;
}


#Bargraph {
    // border: 2px yellow solid;
    float: right !important;}

#manufacturer-list {
    // border: 2px solid blue;
}

// .inner-box {
//     border: 5px purple solid;
//     height: 100px;
// }